.container {
  width: 320px;
  margin: 0 auto;

  padding-left: 16px;
  padding-right: 16px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.made {
  background-color: #84a178;
}
.korova {
  margin: 0 auto;
  width: 270px;
  height: 270px;
  border: 1px solid teal;
  border-radius: 50%;
  background-image: url(../img/korova.jpg);

  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
}
.subtitle {
  text-align: center;
}
.title {
  text-align: center;
}
